@import 'tailwindcss';
@config '../../tailwind.config.ts';

#sanity {
  @apply relative z-[999];
}

.BACKGROUND {
  @apply fixed inset-0 z-[-1];
  @apply w-full h-screen sm:opacity-60;

  background-color: #365f54;
  background-repeat: repeat;
  background-blend-mode: luminosity;
  -webkit-mask-image: url(/pattern.svg);
  mask-image: url(/pattern.svg);
  -webkit-mask-position: top center;
  mask-position: top center;
}

[data-section] {
  @apply scroll-mt-44 xl:scroll-mt-32 sm:scroll-mt-24;
}
